<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>FacturaXML</servlet-name>
        <servlet-class>Servlet.FacturaXML.FacturaXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacturaCFDI</servlet-name>
        <servlet-class>Servlet.FacturaPDF.FacturaCFDI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaRfc</servlet-name>
        <servlet-class>Servlet.Factura.BusquedaRfc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComboReceptor</servlet-name>
        <servlet-class>Servlet.Factura.ComboReceptor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmisorConsulta</servlet-name>
        <servlet-class>Servlet.Factura.EmisorConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmisorGuardar</servlet-name>
        <servlet-class>Servlet.Factura.EmisorGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarComprobante</servlet-name>
        <servlet-class>Servlet.Factura.GuardarComprobante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaFactura</servlet-name>
        <servlet-class>Servlet.Factura.ListaFactura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceptorGuardar</servlet-name>
        <servlet-class>Servlet.Factura.ReceptorGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosExtras</servlet-name>
        <servlet-class>Servlet.Factura.DatosExtras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellarCFDI</servlet-name>
        <servlet-class>Servlet.Factura.SellarCFDI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellaCFDI</servlet-name>
        <servlet-class>Servlet.Factura.SellaCFDI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormularioFactura</servlet-name>
        <servlet-class>Servlet.Factura.FormularioFactura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComboEmisor</servlet-name>
        <servlet-class>Servlet.Factura.ComboEmisor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comboComprobante</servlet-name>
        <servlet-class>Servlet.Factura.comboComprobante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormularioComproante</servlet-name>
        <servlet-class>Servlet.Factura.FormularioComproante</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacturaXML</servlet-name>
        <url-pattern>/FacturaXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacturaCFDI</servlet-name>
        <url-pattern>/FacturaCFDI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaRfc</servlet-name>
        <url-pattern>/BusquedaRfc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComboReceptor</servlet-name>
        <url-pattern>/ComboReceptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmisorConsulta</servlet-name>
        <url-pattern>/EmisorConsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmisorGuardar</servlet-name>
        <url-pattern>/EmisorGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarComprobante</servlet-name>
        <url-pattern>/GuardarComprobante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaFactura</servlet-name>
        <url-pattern>/ListaFactura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceptorGuardar</servlet-name>
        <url-pattern>/ReceptorGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosExtras</servlet-name>
        <url-pattern>/DatosExtras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellarCFDI</servlet-name>
        <url-pattern>/SellarCFDI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellaCFDI</servlet-name>
        <url-pattern>/SellaCFDI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormularioFactura</servlet-name>
        <url-pattern>/FormularioFactura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComboEmisor</servlet-name>
        <url-pattern>/ComboEmisor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comboComprobante</servlet-name>
        <url-pattern>/comboComprobante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormularioComproante</servlet-name>
        <url-pattern>/FormularioComproante</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
